<!DOCTYPE html>
<html>
  <head>
    <title>Audit Trail</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        /* Custom CSS to style the responsibilities section */
        #responsibilities-section {
          background-color: #f8f9fa;
          padding: 50px 0;
          text-align: left;
        }
    
        #responsibilities-heading {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 20px;
        }
    
        #responsibilities-list {
          font-size: 16px;
          margin-bottom: 20px;
        }
      </style>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Back to Main</a>
        </div>
      </div>
    </nav>
    <div id="responsibilities-section">
        <div class="container">
          <h2 id="responsibilities-heading">What i care about</h2>
          <ul id="responsibilities-list">
            {{ data.employee_goals[0].replace('\n', '<br>')|safe }}
           
          </ul>
        </div>
      </div>

      <div id="responsibilities-section">
        <div class="container">
          <h2 id="responsibilities-heading">Data Source Analysis and Checklists</h2>
          <ul id="responsibilities-list">
             {{ data.employee_datasteward[0].replace('\n', '<br>')|safe }}
           
          </ul>
        </div>
      </div>


     

    <div class="container">
      <h1>Audit Trail record: {{ data.eventid.loc[0] }}</h1>
      <div class="list-group">
        {% for col in data.columns %}
        <div class="list-group-item">
          <strong>{{ col }}:</strong> {{ data[col].loc[0] }}
        </div>
        {% endfor %}
      </div>
      <a class="btn btn-primary" href="{{ url_for('index') }}">Back to Index</a>
    </div> -->
  </body>
</html>

